/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 60px;
    padding: 60px;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 0;
    flex-direction: column;
}

.image-card {
    background-color: lightgray; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 700px;
    display: flex;
    flex-direction: row;
}

.image-card img {
    width: 50%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
}

.image-description {
    padding: 20px;
    width: 50%;
}

.image-description h2 {
    margin-top: 0;
    color: #333;
}

.image-description p {
    color: #666;
}

