	*{
		word-break: keep-all;
		margin: 0;
		padding: 0;
	}

	body {
		background-color: lightblue;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: 116vw auto;
	}

	header{
		font-size: 20px;
		text-align: center;
		background-color: skyblue;
		color: black;
		margin-top: px;
		
	}

	article {
		
		font-size: 4;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		
	}	

	
	section {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		width: 800px;
		
		line-height: 3;
		word-break: keep-all;
		font-size: 16px;
		margin: 50px;
		padding: 50px;
		background: white;
		background-color: rgb(255, 255, 255, 0.5);
		
	}

	h2 {
		text-align: center;
		text: white;
		border-radius: 100px;
	}

	p{
		line-height: 2;
	}
}
	a{
		text-decoration-line: none;
		color: pink;
	}
		footer {
    background-color: skyblue;
    color: #fff;
    padding: 19px 0;
    text-align: center;
}



	.myBu
	}

	@media screen and (max-aspect-ratio: 2/3) {
		body {
			background-size: auto 800vh;
		}
	}
		header{
		text-align: center;
	}

	article {
		word-break: keep-all;
		
	}	

	section {
		
		line-height: 3;
		word-break: keep-all;
		padding: 10px;
		
	}

	h2 {
		text-align: center;

	}

	p{
		line-height: 2;
	}
}