	 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: ;
        }
        header {
            background-color: lightblue;
            color: #fff;
            padding: 20px 0;
            text-align: center;
            margin-bottom: 20px;
            justify-content: center;
            display: flex;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 0 20px;
        }
        div{
            background-color: ;
        }
        .website {
            background-color: lightblue;
            margin-top: 100px;
            margin-bottom: 20px;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-size: 40px;

        }
        .website h2 {
            color: lightblue;
            margin: 0;
            padding: 20px;
            background-color: #f0f0f0;
            text-align: center;
            
            justify-content: center;
            display: flex;
        }
        .website p {
            color: lightblue;
            padding: 20px;
            margin: 0;
            text-align: center;
            
            justify-content: center;
            display: flex;
        }
        .website a {
            display: block;
            text-align: center;
            background-color: lightblue;
            color: #fff;
            text-decoration: none;
            padding: 10px 0;
            text-align: center;
            
            justify-content: center;
            display: flex;
        }
        .website a:hover {
            background-color: skyblue;
        }
	 *{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	